body
{
  margin: 0px;
  padding: 0px;
  border: none;
  background: #DDD;
  font-family: sans-serif;
}

#tiles {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  -webkit-user-select: none; /* disable selection/Copy on IOS */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.tile {
  list-style: none;
  display: block;

  float: left;
  margin: 10px;
  padding: 5px;
  width: 140px;
  height: 140px;

  border: 1px solid #CCC;
  border-radius: 8px;
  background: #FFF;
  color: #1C94C4;

  font-family: "Avenir", "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: default;

  position: relative;
}

.tile.editable {
  border: 2px black dashed;
  padding: 4px;
  cursor: move;
}

.tile.ghost {
  border: 1px dashed #CCC;
  opacity: 0.4;
}

.tile h4
{
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 5% auto 5% auto;

  text-transform: uppercase;
  color: #BBB;
  text-align: center;
  font-size: 9pt;
  font-weight: 100;
}

.tile button.edit
{
  display: none;
  width: 50px;
  height: 25px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 10;

  border: 0;
  border-radius: 5px;
  margin: 5px;
  padding: 0;

  background: #F00;
  font-size: 9pt;
}

.tile button.edit:active {
  background-color: #FC5F66;
}

.tile.editable button.edit
{
  display: block;
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   padding: 5px;
   z-index: 20;
}

#buttons {
  float: right;
  margin-right: 20px;
}

#discard {
  display: none;
}

