html,body {
  min-height:100%;
}

body
{
  margin: 0px;
  padding: 0px;
  border: none;
  background: #DDD;
  font-family: "Gill Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#tiles {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  -webkit-user-select: none; /* disable selection/Copy on IOS */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.tile {
  list-style: none;
  float: left;
  margin: 8px;
  padding: 5px;
  width: 150px;
  height: 150px;

  border: 1px solid #CCC;
  background: #E6E6E6;
  color: #1C94C4;

  cursor: default;
}

.tile.editable {
  border: 2px black dashed;
  padding: 4px;
  cursor: move;
}

.tile.ghost {
  border: 1px dashed #CCC;
  opacity: 0.4;
}

.tile>button
{
  display: block;
  margin: 11% 11% 1% 11%;
  cursor: pointer;
  width: 78%;
  height: 78%;
}

.tile>.text
{
  width: 78%;
  height: 78%;
  display: block;
  margin: 11% 11% 1% 11%;
  text-align: center;
  vertical-align: middle;
  text-overflow: clip;
  font-size: 12pt;
}

.tile>label
{
  display: block;
  width: 100%;
  height: 10%;
  bottom: 0px;
  text-align: center;
}

label
{
  font-family: "Geneva", Helvetica, Arial, sans-serif;
  font-size: 8pt;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   padding: 5px;
   z-index: 20;
}

#buttons {
  float: right;
  margin-right: 20px;
}
